canvas
  position: absolute
  top: 0
  left: 0
  display: block
  vertical-align: bottom
  z-index: -1

#particles-js
  position: absolute
  width: 100%
  height: 100%
  //background-color: $primary
  //background-image: url('')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%


.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  background-color: rgba(195, 154, 161, 0.3)
  padding-top: 30px
  z-index: 100

  &__button
    display: none
    margin: 0 auto
    height: 50px
    background-color: transparent
    border: 2px solid transparent

    &:hover
      cursor: pointer
      border: 2px solid $light
      border-radius: 8px
      outline: none
    &:hover > div
      box-shadow: 0 10px 0 $light, 0 -10px 0 $light
      outline: none

    &:focus,
    &:active
      border: 2px solid $dark
      border-radius: 8px
      outline: none

    &:focus > div,
    &:active > div
      border: 1px solid $dark
      box-shadow: 0 10px 0 $dark, 0 -10px 0 $dark
      outline: none
    @media (max-width: $mobile)
      display: block
      &:focus,
      &:active
        margin-left: 10px

      &:focus + nav,
      &:active + nav
        visibility: visible


.button
  &__lines
    width: 40px
    border: 1px solid $light
    box-shadow: 0 8px 0 $light, 0 -8px 0 $light

.nav
  display: flex
  justify-content: space-between
  align-items: center
  width: 70%
  margin: 0 auto
  & a
    text-decoration: none
    font-size: 1.7rem
    color: $dark
    text-transform: uppercase
    border: 3px solid transparent
    padding: 5px 5px

    @media (max-width: $tablet)
      font-size: 1.4rem
  & a:hover
    cursor: pointer
    color: $light
    border-top: 3px solid $light
    border-bottom: 3px solid $light


  @media (max-width: $tablet)
    justify-content: space-around
  @media (max-width: $mobile)
    position: absolute
    visibility: hidden
    margin: 10px 10px

    display: flex
    flex-direction: column
    right: 0
    top: 0
    border: 1px solid $dark
    border-radius: 8px
    width: 80%
    padding: 10px 10px
    & a
      font-size: 2.4rem
      padding-top: 5px
      padding-bottom: 5px

a.active
  color: darken($dark, 10%)
  border: 3px solid $light
  transition: all 300ms ease-in 0s

label
  &.invalid
    color: tomato
    font-size: 0.7rem
    font-family: 'Oswald-Regular', sans-serif
input
  &.invalid
    border: 2px solid tomato


