.skills

  background-color: $tertiary
  &__circle-row
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 80%
    margin: 0 auto
    padding-bottom: 50px

.circle-row
  &__circle-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 20px
    & span
      font-size: 2rem
    & object
      border: 1px solid red

.circle-animate-1, .circle-animate-2
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset
  to
    stroke-dasharray: 503

.circle-animate-3
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset3
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards


@keyframes dashoffset3
  to
    stroke-dasharray: 478

.circle-animate-4
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset4
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset4
  to
    stroke-dasharray: 452

.circle-animate-5
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset5
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset5
  to
    stroke-dasharray: 351

.circle-animate-6
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset6
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset6
  to
    stroke-dasharray: 302

.circle-animate-7
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset7
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset7
  to
    stroke-dasharray: 376

.circle-animate-8, .circle-animate-9
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset8
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset8
  to
    stroke-dasharray: 401

.circle-animate-10
  transform: rotate(-90deg) translate(-200px, 0px)
  stroke-dasharray: 0 505
  stroke-dashoffset: 0
  animation-name: dashoffset10
  animation-duration: 2s
  animation-direction: alternate
  animation-timing-function: linear
  animation-fill-mode: forwards

@keyframes dashoffset10
  to
    stroke-dasharray: 251






