.skills
  margin-top: 220px
  @media (max-width: $desktop)
    margin-bottom: 100px

  //background-color: $tertiary
  &__circle-row
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 80%
    margin: 0 auto
    padding-bottom: 70px

.circle-row
  &__circle-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 20px
    & span
      font-size: 2rem
      color: $dark
    & object
      border: 1px solid red

.circle-animate
  transform: rotate(-90deg) translate(-200px, 0px)

